name: Frontend CI/CD

on:
  push:
    branches: [main]
    paths: ['frontend/**']

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # This is the job that will build and deploy the frontend to GitHub Pages and it is just a job named build-and-deploy
  #The env is for:
  # On your repository homepage (right sidebar), you get a clickable green link that says "github-pages Active". 
  # You can click it to go straight to your site . So if you want to see your deployed site link easily, yuse this environment variable.
  build-and-deploy:
  # Resources for environment deployment: https://github.com/marketplace/actions/upload-github-pages-artifact
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json

# This means that the build command will run in the frontend directory as by default it runs in the root directory.

      - name: Install Dependencies
        run: npm ci
        working-directory: frontend/

      - name: Build
        run: npm run build
        working-directory: ./frontend
        env:
          VITE_API_BASE_URL: ${{ secrets.VITE_API_BASE_URL }}

      - name: Setup Pages
        uses: actions/configure-pages@v5

# This step uploads the build artifacts which is like a zip file to GitHub Pages
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'frontend/dist'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4